# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
build

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Folders
public
content

# Files
*.min.js
nuxt.config.ts
*.md

# Local env files
.env
.env.*
!.env.example