// SCSS Variables

// primary
$color-primary: var(--color-primary);
$color-primary__stroke: var(--color-primary__stroke);
$color-primary__variation: var(--color-primary__variation);
$color-primary__variation-2: var(--color-primary__variation-2);
$color-primary__variation-3: var(--color-primary__variation-3);
// secondary
$color-secondary--purple: var(--color-secondary--purple);
// shade
$color-shade--purple: var(--color-shade--purple);
// neutral
$color-neutral--1: var(--color-neutral--1);
$color-neutral--2: var(--color-neutral--2);
$color-neutral--3: var(--color-neutral--3);
$color-neutral--4: var(--color-neutral--4);
$color-neutral--5: var(--color-neutral--5);
$color-neutral--6: var(--color-neutral--6);
$color-neutral--7: var(--color-neutral--7);
$color-neutral--8: var(--color-neutral--8);
$color-white: var(--color-white);
$color-black: var(--color-black);
$color-body-bg: var(--color-body-bg);
// gradients
$color-gradient--1: var(--color-gradient--1);
$color-gradient--2: var(--color-gradient--2);
$color-gradient--3: var(--color-gradient--3);
$color-gradient--4: var(--color-gradient--4);
$color-gradient--5: var(--color-gradient--5);
$color-stroke-gradient--1: var(--color-stroke-gradient--1);
$color-stroke-gradient--2: var(--color-stroke-gradient--2);

// font
$font-primary: var(--font-primary);
